{% extends 'webapp/base.html' %}

{% block content %}

    <h5> Welcome to the dashboard-operador page, {{user}}! 👋</h5>

    <hr>

    <a class="btn btn-outline-primary btn-sm" href="{% url 'create-operador' %}">

        Create a new operador &nbsp; <i class="fa fa-plus-circle" aria-hidden="true"></i>

    </a>

    <hr>

    <table class="table table table-hover table-bordered">
        
        <thead class="table-light">


            <tr>

                <th scope="col"> ID </th>
                <th scope="col"> Denominación </th>


                <th scope="col"> View </th>

            </tr>

        </thead>

        <tbody>


        {% if operadores %}

            {% for operador in operadores %}
            
            <tr>


                <td> {{operador.id}} </td>

                <td> {{operador.denominacion}}</td>


                
                
                <td> <a class="btn btn-success btn-sm" href="{% url 'operador' operador.id %}"> <i class="fa fa-eye" aria-hidden="true"></i> </a></td>



            </tr>

            {% endfor %}

        {% endif %}


        </tbody>

    </table>


{% endblock %}