{% extends 'webapp/base.html' %}

{% block content %}

    <h5> Welcome to the dashboard-tipozona page, {{user}}! 👋</h5>

    <hr>

    <a class="btn btn-outline-primary btn-sm" href="{% url 'create-tipozona' %}">

        Create a new tipo zona &nbsp; <i class="fa fa-plus-circle" aria-hidden="true"></i>

    </a>

    <hr>

    <table class="table table table-hover table-bordered">
        
        <thead class="table-light">


            <tr>

                <th scope="col"> ID </th>
                <th scope="col"> Codigo Sunat </th>

                <th scope="col"> Denominación </th>
     

                <th scope="col"> View </th>

            </tr>

        </thead>

        <tbody>


        {% if tipozonas %}

            {% for tipozona in tipozonas %}
            
            <tr>


                <td> {{tipozona.id}} </td>

                <td> {{tipozona.codigo_sunat}}</td>
                <td> {{tipozona.denominacion}}</td>


  
                
                
                <td> <a class="btn btn-success btn-sm" href="{% url 'tipozona' tipozona.id %}"> <i class="fa fa-eye" aria-hidden="true"></i> </a></td>



            </tr>

            {% endfor %}

        {% endif %}


        </tbody>

    </table>


{% endblock %}