{% extends 'webapp/base.html' %}

{% block content %}

    <h5> Welcome to the dashboard-tipotelefono page, {{user}}! 👋</h5>

    <hr>

    <a class="btn btn-outline-primary btn-sm" href="{% url 'create-tipotelefono' %}">

        Create a new tipo telefono &nbsp; <i class="fa fa-plus-circle" aria-hidden="true"></i>

    </a>

    <hr>

    <table class="table table table-hover table-bordered">
        
        <thead class="table-light">


            <tr>

                <th scope="col"> ID </th>
                <th scope="col"> Denominación </th>
     

                <th scope="col"> View </th>

            </tr>

        </thead>

        <tbody>


        {% if tipostelefonos %}

            {% for tipotelefono in tipostelefonos %}
            
            <tr>


                <td> {{tipotelefono.id}} </td>

                <td> {{tipotelefono.denominacion}}</td>

  
                
                
                <td> <a class="btn btn-success btn-sm" href="{% url 'tipotelefono' tipotelefono.id %}"> <i class="fa fa-eye" aria-hidden="true"></i> </a></td>



            </tr>

            {% endfor %}

        {% endif %}


        </tbody>

    </table>


{% endblock %}