{% extends 'webapp/base.html' %}

{% block content %}

    <h5> Welcome to the dashboard-oficio page, {{user}}! 👋</h5>

    <hr>

    <a class="btn btn-outline-primary btn-sm" href="{% url 'create-oficio' %}">

        Create a new oficio &nbsp; <i class="fa fa-plus-circle" aria-hidden="true"></i>

    </a>

    <hr>

        <table class="table table table-hover table-bordered">
            
            <thead class="table-light">


                <tr>

                    <th scope="col"> ID </th>
                    <th scope="col"> ID CÓDIGO SUNAT </th>
                    <th scope="col"> ID DENOMINACIÓN </th>
                    

                    <th scope="col"> View </th>

                </tr>

            </thead>

            <tbody>


            {% if oficios %}

                {% for oficio in oficios %}
                
            <tr>

                <td> {{oficio.id}} </td>

                <td> {{oficio.codigo_sunat}} </td>

                <td> {{oficio.denominacion}}</td>
                

                
                
                <td> <a class="btn btn-success btn-sm" href="{% url 'oficio' oficio.id %}"> <i class="fa fa-eye" aria-hidden="true"></i> </a></td>



            </tr>

            {% endfor %}

        {% endif %}


        </tbody>

    </table>


{% endblock %}