{% extends 'webapp/base.html' %}

{% block content %}

    <h5> Bienvenido a la pagina de dashboard, {{user}}! 👋</h5>

    <hr>

    <a class="btn btn-outline-primary btn-sm" href="{% url 'create-record' %}">

        Crear nuevo registro &nbsp; <i class="fa fa-plus-circle" aria-hidden="true"></i>

    </a>

    <hr>

    <table class="table table table-hover table-bordered">
        
        <thead class="table-light">


            <tr>

                <th scope="col"> ID </th>
                <th scope="col"> Nombre Completo</th>
                <th scope="col"> Correo </th>
                <th scope="col"> Teléfono </th>
                <th scope="col"> Dirección </th>
                <th scope="col"> Ciudad </th>
                <th scope="col"> Provincia </th>
                <th scope="col"> Pais </th>

                <th scope="col"> Fecha de Registro </th>


                <th scope="col"> Vista </th>

            </tr>

        </thead>

        <tbody>


        {% if records %}

            {% for record in records %}
            
            <tr>


                <td> {{record.id}} </td>

                <td> {{record.first_name}}  {{record.last_name}} </td>

                <td> {{record.email}} </td>

                <td> {{record.phone}} </td>
                <td> {{record.address}} </td>
                <td> {{record.city}} </td>
                <td> {{record.province}} </td>
                <td> {{record.country}} </td>

                <td> {{record.creation_date}} </td>
                
                <td> <a class="btn btn-success btn-sm" href="{% url 'record' record.id %}"> <i class="fa fa-eye" aria-hidden="true"></i> </a></td>



            </tr>

            {% endfor %}

        {% endif %}


        </tbody>

    </table>


{% endblock %}