{% extends 'webapp/base.html' %}

{% block content %}

    <h5> Welcome to the dashboard-persona page, {{user}}! 👋</h5>

    <hr>

    <a class="btn btn-outline-primary btn-sm" href="{% url 'create-persona' %}">

        Create a new persona &nbsp; <i class="fa fa-plus-circle" aria-hidden="true"></i>

    </a>

    <hr>

    <table class="table table table-hover table-bordered">
        
        <thead class="table-light">


            <tr>

                <th scope="col"> ID </th>
                <th scope="col"> ID TIPO DOCUMENTO </th>
                <th scope="col"> Documento </th>

                <th scope="col"> View </th>

            </tr>

        </thead>

        <tbody>


        {% if personas %}

            {% for persona in personas %}
            
            <tr>


                <td> {{persona.id}} </td>

                <td> {{persona.id_tipodocumento}}</td>

                <td> {{persona.documento}}</td>
                
                
                <td> <a class="btn btn-success btn-sm" href="{% url 'persona' persona.id %}"> <i class="fa fa-eye" aria-hidden="true"></i> </a></td>



            </tr>

            {% endfor %}

        {% endif %}


        </tbody>

    </table>


{% endblock %}