{% extends 'webapp/base.html' %}

{% block content %}

    <div class="card">

        <div class="card-body">

            <i class="fa fa-user-circle-o" aria-hidden="true"></i> &nbsp;

            <strong>

                {{cliente.id_persona}} 
                <br>

    
                
    
            </strong>
    
            <hr>

            

            <br>
            {{cliente.id_tipocliente}}
            
        </div>

    </div>

    <br>

    <a href="{%url 'dashboard-cliente' %}" class="btn btn-secondary"> Return &nbsp; <i class="fa fa-arrow-left" aria-hidden="true"></i> </a>

    &nbsp;

    <a href="{%url 'update-cliente' cliente.id_persona %}" class="btn btn-info"> Update cliente &nbsp; <i class="fa fa-pencil" aria-hidden="true"></i> </a>

    &nbsp;
     
    <a href="{%url 'delete-cliente' cliente.id_persona %}" class="btn btn-danger"> Delete &nbsp; <i class="fa fa-trash" aria-hidden="true"></i> </a>


{% endblock %}