{% extends 'webapp/base.html' %}

{% block content %}

    <div class="card">

        <div class="card-body">

            <i class="fa fa-user-circle-o" aria-hidden="true"></i> &nbsp;

            <strong>

                {{ubigeo.ubigeo|upper}}
                <br>
    
                               
    
            </strong>
    
            <hr>
            
            {{ubigeo.departamento}}
            <br>
            {{ubigeo.provincia}}
            <br>
            {{ubigeo.distrito}}

            <br>

        </div>

    </div>

    <br>

    <a href="{%url 'dashboard-ubigeo' %}" class="btn btn-secondary"> Return &nbsp; <i class="fa fa-arrow-left" aria-hidden="true"></i> </a>

    &nbsp;

    <a href="{%url 'update-ubigeo' ubigeo.ubigeo %}" class="btn btn-info"> Update ubigeo &nbsp; <i class="fa fa-pencil" aria-hidden="true"></i> </a>

    &nbsp;
     
    <a href="{%url 'delete-ubigeo' ubigeo.ubigeo %}" class="btn btn-danger"> Delete &nbsp; <i class="fa fa-trash" aria-hidden="true"></i> </a>


{% endblock %}