{% extends 'webapp/base.html' %}

{% block content %}

    <div class="card">

        <div class="card-body">

            <i class="fa fa-user-circle-o" aria-hidden="true"></i> &nbsp;

            <strong>

               
                <br>
    
                               
    
            </strong>
    
            <hr>

            {{categoriapadre.id_categoriahijo}}
            <br>
            {{categoriapadre.id_categoriapadre}}

        </div>

    </div>

    <br>

    <a href="{%url 'dashboard-categoriapadre' %}" class="btn btn-secondary"> Return &nbsp; <i class="fa fa-arrow-left" aria-hidden="true"></i> </a>

    &nbsp;

    <a href="{%url 'update-categoriapadre' categoriapadre.id %}" class="btn btn-info"> Update record &nbsp; <i class="fa fa-pencil" aria-hidden="true"></i> </a>

    &nbsp;
     
    <a href="{%url 'delete-categoriapadre' categoriapadre.id %}" class="btn btn-danger"> Delete &nbsp; <i class="fa fa-trash" aria-hidden="true"></i> </a>


{% endblock %}